
.App{
  display:flex;
  flex-direction:column;
  text-align:center;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
  font-size:2.1rem;
}

.flex-fieldset , .justify-fieldset , .align-fieldset{
  font-size:1.3rem;
  border:none;
  

}

#justify-content , #align-items{
  padding:5px 15px;
  margin-left:10px;
  border:none;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 1px gray;
}

#justify-content:hover , #align-items:hover{
  background-color:rgb(212, 182, 124);

}

.farb-container{
  display:flex;
  justify-content:center;
  justify-content:space-evenly;
  align-items:flex-end;
  border-radius:5px;
  box-shadow: 1px 1px 7px 2px gray;
  align-self:center;
  height:28vh;
  width: 65%;
}
.red{
  background-color: #fe595f;
  width: 10%;
  height: 15vh;
 
  
}
.yellow{
  background-color: #ffc83b;
  width: 10%;
  height: 15vh;

}
.green{
  background-color: #8ac72a;
  width: 10%;
  height: 15vh;

}
.blue{
  background-color: #2081c3;
  width: 10%;
  height: 15vh;

}
.purple{
  background-color: #694d92;
  width: 10%;
  height: 15vh;

}
.historyList {
  list-style: none;
  text-align: left;
}
.historyList li:hover {
  text-decoration: underline;
  cursor: pointer;
}